@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-moz-scrollbar {
    width: 0px;
}

::-moz-scrollbar-thumb {
    @apply bg-sky-700 rounded-[5px];
}

::-webkit-scrollbar-thumb {
    @apply bg-sky-700 rounded-b-[5px] cursor-pointer;
}

.signup-input {
    height: 50px;
    width: 100%;
    outline: none;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.signup-input:focus {
    @apply border-2 border-blue-500
}

.password-input {
    height: 50px;
    width: 100%;
    outline: none;
    padding: 0 10px;
    padding-right: 40px;
    border: 1px solid gray;
    border-radius: 5px;
}

.password-input:focus {
    @apply border-2 border-blue-500
}

.sidebar-logout-navigation:hover::before {
    height: 45px;
    width: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: orangered;
}

.sidebar-logout-navigation {
    @apply relative h-[45px] flex flex-row items-center justify-start cursor-pointer w-full gap-3 pl-[10px] text-black
}

.sidebar-logout-navigation:hover {
    @apply bg-red-100 text-[orangered]
}

.sidebar-navigation {
    @apply relative h-[45px] flex flex-row items-center justify-start cursor-pointer w-full gap-3 pl-[10px] text-black
}

.sidebar-navigation:hover::before {
    height: 45px;
    width: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1858CD;
}

.sidebar-navigation:hover {
    @apply bg-blue-100 text-[#1858CD]
}

.active-sidebar-navigation {
    @apply relative h-[45px] flex flex-row items-center justify-start cursor-pointer w-full gap-3 pl-[10px] text-black bg-blue-100
}

.active-sidebar-navigation::before {
    height: 45px;
    width: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1858CD;
}

.recent-activity-table-list {
    @apply w-full h-[40px] flex flex-row items-center justify-start cursor-pointer;
}

.recent-activity-table-list:hover {
    @apply bg-gray-100
}

.cont-1 {
    height: calc(100vh - 50px);
}

.user-list-cont {
    height: calc(100vh - 250px)
}

.overdue-row {
    @apply w-full h-[40px] flex flex-row items-center justify-start cursor-pointer bg-red-200 text-red-700;
}